* {
    margin:0;
    padding:0;
}
 ul,li {
     list-style: none;
 }
body {
    width: 980px;
    height: 100%;
    font-size: 12px;
    font-family:"simhei";
    text-align:justify;
    text-justify: inter-word;
}
p {
    font-family:"SimSun" ;
    line-height: 160%;
    color: #767777;
    letter-spacing: 1px;
}
h1 {
    font-family:"Microsoft YaHei" ;
}
header {
    height: 60px;
    margin: 0 45px 0 45px;
    border-bottom: solid 2px #938e8c;
}
header .color_rect {
    float: left;
    height: 100%;
    width: 110px;
    background-color: #d45d5c;
    display: inline-block;
}
header .color_rect p {
    font-family:"simhei";
    margin-top: 2.5rem;
    margin-left: .3rem;
    color: #ffffff;
    font-size: .8rem;
}
header #header_right p{
    font-family:"simhei";
    float: right;
    font-size: .8rem;
    color: #d45d5c;
    margin-top: 2.5rem;
}

#big_news {
    display: inline-block;
    overflow: auto;
}
#big_news #big_img {
    height: 300px;
    width: 640px;
    margin: 45px 0 45px 45px;
    background: url("img/main_img.jpg");
    position: relative;
}

#big_img #mask-green {
    height: 300px;
    width: 190px;
    position: absolute;
    left: 0;
    background-color: #428d59;
    filter: alpha(opacity = 50);
    -moz-opacity:0.5;
    opacity:0.5;
}
#big_img #mask-red {
    height: 300px;
    width: 190px;
    position: absolute;
    right: 0;
    background-color: #cc7680;
    filter: alpha(opacity = 50);
    -moz-opacity:0.5;
    opacity:0.5;
}
#big_news #wrap-top {
    margin: 45px 0 45px 45px;
    height: 170px;
    width: 640px;
    display: flex;
    flex-flow: row;

}

#big_news #wrap-top .left {
    flex: 4;
    padding-right: 1rem;
}
#big_news #wrap-top .mid {
    flex: 3;
    padding-left: 1rem;
    padding-right: 1rem;
}
#big_news #wrap-top .right {
    flex: 3;
    padding-left: 1rem;
    padding-right: 1rem;
}
.sec {
    font-family:"Microsoft YaHei" ;
}
#big_news #wrap-top  .sec {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1rem;
}
#big_news #wrap-top .left .sec {
    color: #418c59;
    border-bottom: solid 2px #418c59;
}
#big_news #wrap-top .mid .sec {
    color: #d2994f;
    border-bottom: solid 2px #d2994f;
}
#big_news #wrap-top .right .sec {
    color: #cc7680;
    border-bottom: solid 2px #cc7680;
}

#about {
    width: 210px;
    height: 300px;
    float: right;
    margin: 45px 45px 0 0;
    border-top: solid 2px #cc8091;
    overflow: hidden;
}
#about .aside-theme {
    float: left;
    margin-top: .2rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    font-size: 1.1rem;
    border-bottom: solid 2px black;
    }
#about .aside-theme span {
    font-size: 1.5rem;
}
#about cite {
    float: left;
    font-family: simhei;
    font-size: .6rem;
    color: #676767;
}
#about .num-700 {
    float: left;
    font-family: "Microsoft YaHei";
    color: #75b86b;
    font-size: 6rem;
    height: 130px;
    font-style: italic;
    font-weight: bold;
}
#about .aside-footer{
    margin-bottom: 0;
    height: 50px;

}
#about .num-32 {
    float: left;
    height: 50px;
    font-family: "Microsoft YaHei";
    color: #cc8091;
    font-size: 3rem;
    margin-left: .5rem;
}
#about .css {
    font-family: "Microsoft YaHei";
    float: left;
    margin-top: 1.3rem;
    height: 50px;
    margin-left: .5rem;

}
#about .css {
    color: #c1c0bf;
}
#about .css span {
    color: #cc8091;
    font-size: 1rem;
}
#tech {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    margin: 45px;
    height: 700px;
}
#tech .shows1{
    flex: 1;
    margin-right: 15px;
}
#tech .shows2{
    flex: 1;
    margin-left: 5px;
    height: 700px;
    position: relative;
}
#title1 {
    font-family: "simhei";
    border-bottom: solid 2px #11456b;
}
#title1-1 {
    color: #11456b;
    font-size: 2.2rem;
    font-weight: bold;
}
#title1-1 span {
    font-style: italic;
    color: #f5e327;
    font-size: 4.5rem;
}
#title1-2  {
    color: #11456b;
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem 0 1rem .5rem;
}
#wrap-words {
    margin-top: 20px;
    float: left;
}
#first-letter {
    float: left;
    font-family: "Microsoft YaHei";
    color: #f5e327;
    font-size: 4rem;
    margin: 0 .5rem .5rem 0;
    line-height: 100%;
}
#ico {
    float:right;
    height:60px;
    width:1px;
}
#img-1 {
    float: right;
    padding: 20px 0px 20px 25px;
    clear: right;
}
#title2 {
    background: url("img/comp_img.jpg") no-repeat;
    width: 435px;
    height: 240px;
    position: relative;
}
#title2 #mask {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #040000;
    filter: alpha(opacity = 40);
    -moz-opacity:0.4;
    opacity:0.4;
    bottom: 0;
}
#title-words h1 {
    font-family: "Microsoft YaHei";
    font-weight: normal;
    position: absolute;
    color: #ffffff;
    font-size: 1.6rem;
    bottom: .8rem;
    left:2rem;
    padding-left: 1rem;
    border-left: solid 3px #72b16a ;
}
#title-words h2 {
    font-family: "Microsoft YaHei";
    font-weight: normal;
    font-style: italic;
    position: absolute;
    color: #72b16a;
    font-size: 1rem;
    bottom: .8rem;
    left:10rem;
}
#wrap-words2 {
    position: absolute;
    overflow: auto;
    top: 275px;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    background-color: #eeedd6;
}
#wrap-words2 .content {
    margin-top: 40px;
}
#wrap-words2 .content li {
    margin: 1rem 3rem;
    font-family: "Songti SC", "ו";
    list-style: inside url("img/trangle.jpg");
    font-size: 1.2rem;
    line-height: 200%;
}
#wrap-words2 .content span {
    float: right;
    font-size: .8rem;
    font-style: italic;
}
#wrap-words2 .card {
    position: absolute;
    height: 160px;
    width: 260px;
    bottom: 0;
    left: 0;
    background-color: #d45d5c;
    overflow: hidden;
}
#wrap-words2 .card .left {
    line-height: 100%;
    float: left;
    font-family: "Microsoft YaHei";
    color: #ffffff;
    font-size: 6.5rem;
    margin: 22px 10px 20px 10px;
    border-right: solid #ffffff 2px;
}
#wrap-words2 .card .right {
    margin: 22px 10px auto 5px;
    overflow: auto;
}
#wrap-words2 .card .right-top{
    line-height: 160%;
    float: left;
    font-family: "simhei";
    color: #ffffff;
    font-size: 1rem;
    font-style: italic;

}
#wrap-words2 .card .right-bottom{
    line-height: 150%;
    float: left;
    font-family: "simhei";
    color: #ffffff;
    font-size: .5rem;
    margin: 0px auto auto 5px;
}
#wrap-words2 #cite-cite {
    position: absolute;
    width: 150px;
    height: 160px;
    bottom: 0;
    right: 10px;
    overflow: hidden;
    float: left;
}

#wrap-words2 #cite-cite {
    line-height: 100%;
    margin-top: 5px;
    font-family:"simhei";
    font-size: .8rem ;
    color: #5a5b5b;
}
#wrap-words2 #cite-cite p{
    float: left;
}
#wrap-words2 #cite-cite .line-left{
    line-height:80%;
    float: left;
    font-family:"simhei";
    color: #d45d5c;
    font-size: 4rem;
}
#wrap-words2 #cite-cite .line-right {
    font-family:"simhei";
    font-size: 4rem;
    float: right;
    line-height:  80%;
    color: #d45d5c;
}
footer {
    height: 60px;
    margin-left: 45px;
    margin-right: 45px;
    border-top: solid 2px #938e8c;
}
footer p{
    font-family:"simhei";
    float: right;
    font-size: .8rem;
    color: #d45d5c;
    margin-top: .2rem;
}